.page-navigation {

  h3 {
    text-align: center;
    color: #eee;
    margin: 5px 0;
  }

  .page-list {
    padding: 0;
    list-style: none;
    padding-left: 10px;

    .page-list-item {

      display: flex;
      align-items: center;
      color: #ccc;
      height: 30px;
      cursor: pointer;

      &:hover {
        color: #eee;
      }

      &.active {
        color: #eee;
      }

      svg {
        margin-right: 10px;
        min-width: 16px;
      }

      a {
        display: flex;
        align-items: center;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: inherit;
        line-height: 26px;
        text-decoration: none;
        width: 100%;

        &.active {
          color: #eee;
          font-weight: 700;
        }
      }
    }
  }

  .new-page-form {
    flex: 5;
    input {
      width: 100%;
      padding: 5px;
      border-radius: 2px;
      background: #888;
      color: #eee;
      border: none;
      outline: none;

      &:disabled {
        background: #666;
      }
    }
  }
}
