.page-edit-wrapper {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background: #666;
  text-transform: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
}
